.theme {
  background-color: #e5e5e5;
}

.contain {
  width: 252.33px;
  height: 454.19px;
  background-color: white;
  border-radius: 5.31px;
  transition: transform 0.3s ease-in-out;
}
.contain:hover {
  transform: scale(1.1);
}
.card-top {
  height: 184.6px;
  border-top-right-radius: 5.31px;
  border-top-left-radius: 5.31px;
  background: linear-gradient(
    43deg,
    rgba(101, 116, 255, 0.5998774509803921) 0%,
    rgba(101, 116, 255, 1) 100%
  );
}

.contain:hover .card-top {
  background: linear-gradient(
    43deg,
    rgba(231, 82, 102, 0.5998774509803921) 0%,
    rgba(231, 82, 102, 1) 100%
  );
}
.features-sec {
  width: 158.04px;
  height: 269.58px;
}

.features {
  color: #797979;
  font-size: 13.28px;
  padding: 0 15.52px;
  text-align: center;
}

.contain:hover .features {
  color: #e75266;
}

.sec-2 {
  margin-top: 14.61px;
}
.sec-3 {
  margin-top: 14.61px;
}
.sec-4 {
  margin-top: 14.61px;
}
.sec-5 {
  margin-top: 14.61px;
  text-align: end;
}
.btn {
  font-size: 15.27px;
  color: #e75266;
  width: 158.04px;
  height: 38.51px;
  border: 1.52px solid #e75266;
  border-radius: 82.34px;
}
.contain:hover .btn {
  background-color: #e75266;
  color: white;
}
