@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Handjet:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body,
html {
  font-family: "Roboto", sans-serif;
}

.theme {
  background-color: #e5e5e5;
}

.contain {
  width: 252.33px;
  height: 454.19px;
  border: 0 solid gray;
  border-radius: 5.31px;
  transition: transform 0.3s ease-in-out;
}
.contain:hover {
  transform: scale(1.1);
}
.card-top {
  height: 184.6px;
  background: linear-gradient(
    43deg,
    rgba(101, 116, 255, 0.5998774509803921) 0%,
    rgba(101, 116, 255, 1) 100%
  );
}

.contain:hover .card-top {
  background: linear-gradient(
    43deg,
    rgba(231, 82, 102, 0.5998774509803921) 0%,
    rgba(231, 82, 102, 1) 100%
  );
}

.features-content {
  background-color: #ffffff;
}

.features-sec {
  width: 158.04px;
  height: 200.85px;
  padding-top: 23.75px;
}

.features {
  color: #797979;
  font-size: 13.28px;
  padding: 0 15.52px;
}

.contain:hover .features {
  color: red;
}

.sec-1 {
  margin-top: 14.61px;
  text-align: start;
}
.sec-2 {
  margin-top: 14.61px;
  text-align: start;
}
.sec-3 {
  margin-top: 14.61px;
  text-align: start;
}
.sec-4 {
  margin-top: 14.61px;
  text-align: start;
}
.sec-5 {
  margin-top: 14.61px;
  text-align: end;
}
.btn {
  font-size: 15.27px;
  color: #e75266;
  width: 158.04px;
  height: 38.51px;
  border: 1.52px solid #e75266;
  border-radius: 82.34px;
  margin-top: 23.9px;
}
.contain:hover .btn {
  background-color: #e75266;
  color: white;
}
